<ion-header no-border>
  <ion-navbar>
    <ion-title>HAITLC</ion-title>
    <ion-buttons end class="option-icon">
      <button ion-button (click)="exitApp()">
        <ion-icon name="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <!-- Test for pdf ppt
  <button ion-button (click)="test('https://www.hko.gov.hk/publica/gen_pub/tcws.pdf')">Gov PDF</button>
  <button ion-button (click)="test('http://www.orimi.com')">web</button>
  <button ion-button (click)="openInIAB('http://www.orimi.com')">Gateway pdf system</button>
  <button ion-button (click)="saveAndOpenFile('https://www.hko.gov.hk/publica/gen_pub/tcws.pdf')">Gov pdf save</button>
  <button ion-button (click)="saveAndOpenFile('https://www.iasted.org/conferences/formatting/Presentations-Tips.ppt')">Unkwon ppt save</button>
  <button ion-button (click)="saveAndOpenFile('/tcws.pdf')">Dead pdf save</button> -->
  
  <iframe style="width:100%;height:100%;border:none;" src="assets/html/index.html"></iframe>  
</ion-content>
